
<body>
    <style>
        body {
            background-color: #999;
            padding: 0;
            margin: 0;
            overflow: hidden;
          }
          .container {
            margin: auto;
            margin-top: 3%;
            width: 60%;
            display: block;
            align-items: center;
            background-color: #262626;
            padding-bottom: 105px;
            border-radius: 15px;
          }
          
          .container_1 {
            /* text-align: left; */
            width: 50%;
            background-color: #585454;
            padding-bottom: 365px;
            border-radius: 15px;
            position: absolute;
            top: 0px;
            right: 0px;
          }
          
          .wrapper {
            width: 90%;
            text-align: center;
            padding: 10px;
            line-height: 1;
            padding-top: 100px;
            color: #fff;
          }
          
          .myForm input[type="text"],
          input[type="email"],
          input[type="password"] {
            width: 300px;
            border: none;
            border-bottom: 2px solid #999;
            padding: 5px;
            font-family: "AgencyFB";
            background-color: transparent;
            color: #fff;
            font-weight: bold;
          }
          
          .myForm .btn {
            width: auto;
            border: none;
            padding: 8px;
            background-color: limegreen;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
          }
          
          .myForm .btn:hover {
            background-color: rgb(0, 0, 0);
            color: #fff;
          }
          
          a:hover {
            color: purple;
          }
          
          a {
            color: skyblue;
          }
          h6{
            color: rgba(250, 0, 0, 0.93);
          }
          .err{ 
            font-family: serif;
            width: fit-content; 
            position: center;
            text-align: center;
            margin: auto;
          }
          .success-msg{
            position: center;;
            margin: auto ;
            padding: 5px ;
            border-radius: 3px 3px 3px 3px;
            color: #270;
            background-color: #dff2bf;
            width: 300px;
          }
    </style>
</body>
</html>